section {
  border: 5px solid rgba(231, 136, 12, 0.993);
  margin-top: 10px;
  padding: 10px;
  border-radius: 3cap;
}
label {
  margin-top: 5px;
}
h3 {
  color: rgba(7, 7, 7, 0.719);
  background-color: rgb(255, 174, 0);
  padding: 5px;
  border-radius: 5cap;
  text-align: center;
}
h4 {
  margin-top: 1px;
  margin-bottom: 2px;
  font-style: arial;
  font-weight: normal;
  color: rgb(0, 0, 0);
}
button {
  margin-top: 10px;
  background-color: rgb(255, 123, 0);
  color: rgb(0, 0, 0);
  border-radius: 1cap;
  padding: 5px;
}
input {
  width: 100px;
}
table,
th,
td {
  border: 5px solid rgb(0, 0, 0);
  text-align: center;
}
#disfrazForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 250px;
}
#mainForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.colCurrency {
  text-align: right;
  padding-left: 10px;
}
.colNumber {
  column-width: 50px;
}
.divSalida {
  display: flex;
  flex-direction: column;
}
